/* Estilos gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #eaeaea; /* Cor de fundo mais clara para contraste */
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura total da tela */
    display: flex;
    flex-direction: column;
}

/* Container */
.container {
    width: 80%;
    max-width: 1200px; /* Limita a largura máxima */
    margin: auto;
    overflow: hidden;
}

/* Cabeçalho */
header {
    background: #2c3e50; /* Cor de fundo do cabeçalho mais escura */
    color: #ecf0f1; /* Cor de texto mais clara */
    padding: 20px 0; /* Ajusta o espaçamento */
    border-bottom: 4px solid #3498db; /* Adiciona uma borda inferior colorida */
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5em; /* Aumenta o tamanho da fonte */
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px; /* Aumenta o espaçamento entre os itens */
}

nav ul li a {
    color: #ecf0f1; /* Cor dos links */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em; /* Aumenta o tamanho da fonte dos links */
    transition: color 0.3s ease; /* Adiciona uma transição suave na cor do link */
}

nav ul li a:hover {
    color: #3498db; /* Altera a cor dos links ao passar o mouse */
    text-decoration: underline;
}

/* Seções */
section {
    padding: 40px 0; /* Aumenta o espaçamento das seções */
    background-color: #fff; /* Fundo branco para seções */
    border-top: 1px solid #ddd; /* Borda superior para separação */
}

section h2 {
    text-align: center;
    font-size: 2em; /* Aumenta o tamanho da fonte dos títulos */
    color: #2c3e50; /* Cor dos títulos */
}

/* Rodapé */
footer {
    background: #2c3e50; /* Cor de fundo do rodapé */
    color: #ecf0f1; /* Cor do texto no rodapé */
    text-align: center;
    padding: 15px 0; /* Ajusta o espaçamento */
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 4px solid #3498db; /* Adiciona uma borda superior colorida */
}

/* Links do rodapé */
footer a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #3498db; /* Altera a cor dos links ao passar o mouse */
}
